* {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

a, a:visited, a:focus, a:active, a:hover {
    outline: 0 none !important;
}

.banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    background-color: #2C2C2C;
}
.page-two {
    height: 100vh;
}
.banner-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.banner-text-wrapper {
    text-align: center;
    color: #fff;
    width: 100%;
    margin: 0 auto;
}

.banner-text-wrapper span {
    display: block;
}

.banner-text-wrapper p {
    font-size: 16px;
    line-height: 26px;
}

.banner-image-wrapper {
    text-align: center;
    margin-top: 60px;
}

.banner-image-wrapper img:not(:last-child) {
    margin-right: 20px;
}
.brand-image {
    width: 100px;
    will-change: transform;
}

.menu-list, .get-start-link-wrapper {
    display: none;
}

.header {
    padding: 20px;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    text-align: center;
}

.fill-bg-color {
    background-color: #000;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    padding: 15px;
    -moz-box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
}

@-moz-keyframes imageFromLeft {
    0% {
        transform: translate3d(-200px, 0px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

@-webkit-keyframes imageFromLeft {
    0% {
        transform: translate3d(-200px, 0px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

@-o-keyframes imageFromLeft {
    0% {
        transform: translate3d(-200px, 0px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes imageFromLeft {
    0% {
        transform: translate3d(-200px, 0px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

.device-1 {
    //-webkit-animation: imageFromLeft 1s ease-in;
    //animation: imageFromLeft 1s ease-in;
    width: 50px;
}
.device-3 {
    //-webkit-animation: imageFromLeft 1s ease-in;
    //animation: imageFromLeft 1s ease-in;
    width: 50px;
}

@-moz-keyframes imageFromRight {
    0% {
        transform: translate3d(200px, 0px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

@-webkit-keyframes imageFromRight {
    0% {
        transform: translate3d(200px, 0px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

@-o-keyframes imageFromRight {
    0% {
        transform: translate3d(200px, 0px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes imageFromRight {
    0% {
        transform: translate3d(200px, 0px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

.device-2 {
    //-webkit-animation: imageFromRight 1s ease-in;
    //animation: imageFromRight 1s ease-in;
    width: 50px;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    80% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.device-2.move {
    -webkit-animation: bounce 1s infinite;
    animation: bounce 1s infinite;
}

@-moz-keyframes contentMoveUp {
    0% {
        transform: translate3d(0px, 80px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

@-webkit-keyframes contentMoveUp {
    0% {
        transform: translate3d(0px, 80px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

@-o-keyframes contentMoveUp {
    0% {
        transform: translate3d(0px, 80px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes contentMoveUp {
    0% {
        transform: translate3d(0px, 80px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

.banner-text-wrapper {
    -webkit-animation: contentMoveUp 1s ease-in;
    animation: contentMoveUp 1s ease-in;
    padding-top: 20%;
}

@media (min-width: 768px) {
    .menu-list, .get-start-link-wrapper {
        display: block;
    }

    .header {
        padding: 20px;
        -webkit-transition: 0.2s ease;
        transition: 0.2s ease;
    }

    .banner-text-wrapper {
        width: 90%;
        padding-top: 15%;
    }

    .banner-text-wrapper p {
        font-size: 18px;
        line-height: 32px;
    }

    .menu-list li {
        display: inline-block;
        padding: 5px 2% 5px 2%;
    }

    .menu-list li a {
        color: #fff;
        font-size: 12px;
        text-decoration: none;
    }

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }

    .header-wrapper ul {
        padding-left: 0;
        margin-top: 10px;
    }

    .menu-list {
        -webkit-flex: 3;
        flex: 3;
        text-align: center;
        margin-bottom: 0;
    }

    .header .navbar-brand {
        -webkit-flex: none;
        flex: none;
        padding-bottom: 0;
        padding-top: 0;
        margin-right: 0;
    }

    .get-start-link-wrapper {
        -webkit-flex: none;
        flex: none;
    }

    .get-start-link-wrapper a {
        color: #fff;
        font-size: 12px;
        -webkit-transition: 0.3s ease-out;
        transition: 0.3s ease-out;
        cursor: pointer;
    }

    .get-start-link-wrapper a:hover {
        text-decoration: none;
        color: #fff;
    }

    .get-start-btn {
        display: inline-block;
        background-color: #FF4A17;
        padding: 3px 15px;
        border-radius: 15px;
        margin-right: 20px;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
    }

    @keyframes bounce {
        0%, 20%, 60%, 100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        40% {
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
        }

        80% {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
        }
    }
    .get-start-btn:link, .get-start-btn:visited {
        text-decoration: none;
        color: #fff;
    }

    .get-start-btn:hover {
        animation: bounce 0.5s;
    }

    .get-start-btn:active {
        background-color: #99AACC;
    }

    .login-btn:link, .login-btn:visited {
        text-decoration: none;
        color: #fff;
    }

    .login-btn:hover {
        padding: 3px 15px;
        border-radius: 15px;
        background: rgba(0, 0, 0, 0);
        color: #FF4A17;
        box-shadow: inset 0 0 0 1px #FF4A17;
    }

    .login-btn:active {
        color: #fff;
    }

    .menu-list-item {
        font-weight: 500;
    }

    .menu-list-item.active {
        color: #fff;
        border-bottom: 2px dotted #FF4A17;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
    }

    .menu-list-item.link-color-change {
        color: #fff;
    }

    .menu-list-item:after {
        display: block;
        content: '';
        border-bottom: 2px dotted #FF4A17;
        transform: scaleX(0);
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
    }

    .menu-list-item:hover:after {
        -ms-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .fill-bg-color {
        background-color: #000;
        padding: 10px;
        -moz-box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
        -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .login-btn.link-color-change {
        color: #fff;
    }

    .login-btn.link-color-change:hover {
        padding: 3px 15px;
        border-radius: 15px;
        background: rgba(0, 0, 0, 0);
        color: #fff;
        box-shadow: inset 0 0 0 1px #FF4A17;
    }
    .get-start-btn.link-color-change {
        background-color: #FF4A17;
    }

}

@media (min-width: 990px) {

    .menu-list li a, .get-start-link-wrapper a {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .banner-text-wrapper {
        width: 75%;
    }

    .header-wrapper {
        width: 1100px;
    }

}
