* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: "Poppins","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.banner {
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: scroll;
    background-size: cover;
    min-height: 500px;
    background-color: #2C2C2C;
}
.banner-text-wrapper {
    text-align: center;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 20% 0 30% 0;
}
.banner-text-wrapper span {
    display: block;
}
.banner-text-wrapper p {
    font-size: 16px;
    line-height: 26px;
}
.banner-image {
    padding-bottom: 400px;
}
.banner-image-wrapper {
    text-align: center;
    position: relative;
}
.banner-image .device-1 {
    width: 95%;
    margin-top: -25%;
}
.banner-image .device-2 {
    width: 20%;
    position: absolute;
    top: -35%;
    right: 7%;
}
.header .brand-image {
    width: 140px;
    transition: 0.5s ease;
}
.menu-list, .get-start-link-wrapper {
    display: none;
}
.header {
    padding: 20px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.fill-bg-color {
    background-color: #162f37;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
@media (min-width: 768px) {
    .menu-list, .get-start-link-wrapper {
        display: block;
    }
    .header {
        padding: 20px;
        -webkit-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }
    .banner-text-wrapper {
        width: 90%;
        padding-top: 15%;
    }
    .banner-text-wrapper p {
        font-size: 18px;
        line-height: 32px;
    }
    .menu-list li {
        display: inline-block;
        padding: 5px 2% 5px 2%;
    }
    .menu-list li a {
        color: #fff;
        font-size: 12px;
    }
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
    .header-wrapper ul {
        padding-left: 0;
    }
    .menu-list {
        -webkit-flex: 3;
        flex: 3;
        text-align: center;
        margin-bottom: 0;
    }
    .menu-list li a {
        text-decoration: none;
    }
    .header .navbar-brand {
        -webkit-flex: none;
        flex: none;
        padding-bottom: 0;
        padding-top: 0;
        margin-right: 0;
    }
    .get-start-link-wrapper {
        -webkit-flex: none;
        flex: none;
    }
    .get-start-link-wrapper a {
        color: #fff;
        font-size: 12px;
        transition: 0.5s ease;
        cursor:pointer;
    }
    .get-start-link-wrapper a:hover {
        text-decoration: none;
        color: #fff;
    }
    .get-start-btn {
        background-color: #00a5bd;
        padding: 3px 15px;
        border-radius: 15px;
        margin-right: 20px;
        transition: 0.5s ease;
    }
    .get-start-btn:hover {
        background: rgb(59,233,143);
    }

    .menu-list-item.active {
        color: #fff;
        border-bottom: 3px solid #3be98f;
        transition: 0.5s ease;
    }
    .menu-list-item:after {
        display:block;
        content: '';
        border-bottom: 3px solid #3be98f;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }
    .menu-list-item:hover:after {
        -ms-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .fill-bg-color {
        background-color: #162f37;
        padding: 10px;
        -webkit-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }
}

@media (min-width: 990px) {
    .header .brand-image {
        width: 200px;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
    }
    .menu-list li a, .get-start-link-wrapper a {
        font-size: 14px;
    }
}
@media (min-width: 1200px) {
    .banner-text-wrapper {
        width: 75%;
    }
    .header-wrapper {
        width: 1100px;
    }
    .menu-list li a, .get-start-link-wrapper a {
        font-size: 16px;
    }

}
